{% extends 'store/main.html' %}
{% load static %}

{% block content %}
<!-- Container -->
<div class="container-md" id="cart-container">
    <div class="items thumbnail">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="item-image" scope="col"></th>
                    <th scope="col">Ürün Adı</th>
                    <th scope="col">Fiyat</th>
                    <th scope="col">Miktar</th>
                    <th scope="col">Toplam Fiyat</th>
                </tr>
            </thead>

            <tbody>
                {% for item in items %}
                <tr>
                    <td id="item-image">
                        <img src="{{ item.product.getImage }}" alt="item_image">
                    </td>
                    <td>
                        {{ item.product.name }}
                        <br>
                        <small class="item-brand">{{ item.product.brand }}</small>
                    </td>
                    <td>{{ item.product.price|floatformat:2 }} TL</td>
                    <td>
                        {{ item.amount }}
                        <div class="quantity">
                            <img class="chg-quantity update-cart" src="{% static 'images/arrow-up.png' %}">

                            <img class="chg-quantity update-cart" src="{% static 'images/arrow-down.png' %}">
                        </div>
                    </td>
                    <td>{{ item.summary_price|floatformat:2 }} TL</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="items-info thumbnail">
        <a href="{% url 'store:store' %}" class="btn btn-outline-dark no-curved">← Alışverişe Geri Dön</a>
        <br>
        <br>
        <div class="shopping-info">
            <h4>
                Ürün Adeti: <strong>{{ order.summary_item_count }}</strong>
            </h4>
            <h4>
                Ürün Fiyatı: <strong>{{ order.summary_item_price|floatformat:2 }} TL</strong>
            </h4>
            <hr>
            <a class="btn btn-success no-curved" style="float:right; margin:5px; clear:both;"
                href="{% url 'store:checkout' %}">Sipariş
                Toplamı</a>
        </div>
    </div>
</div>
{% endblock %}