{% extends 'store/main.html' %}
{% load static %}

{% block content %}



<!-- Container -->
<div class="container-md">
    <div class="cards">
        {% for product in products %}
        <div class="cards-item card">
            <img src="{{ product.getImage }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ product.brand }} {{ product.name }}</h5>
                <small style="display: inline-block;min-height: 68px;" class="card-text">
                    {{ product.summary }}
                </small>
                <hr>
                <span id="card-bottom">
                    <div class="btn-group">
                        <a href="#" class="btn btn-success">Satın Al</a>
                        <a href="#" class="btn btn-outline-secondary">İncele</a>
                    </div>
                    <h4 style="font-size: 1em;">{{ product.price|floatformat:2 }} <span style="font-size: 0.8em;">TL</span></h4>
                </span>
            </div>
        </div>
        {% endfor %}

        <!--Gereksizler 
        <div class="cards-item card">
            <img src="{% static 'images/book_image.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <hr>
                <span id="card-bottom">
                    <div class="btn-group">
                        <a href="#" class="btn btn-success">Satın Al</a>
                        <a href="#" class="btn btn-outline-secondary">İncele</a>
                    </div>
                    <h4>200 TL</h4>
                </span>
            </div>
        </div>

        <div class="cards-item card">
            <img src="{% static 'images/headphones.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <hr>
                <span id="card-bottom">
                    <div class="btn-group">
                        <a href="#" class="btn btn-success">Satın Al</a>
                        <a href="#" class="btn btn-outline-secondary">İncele</a>
                    </div>
                    <h4>200 TL</h4>
                </span>
            </div>
        </div>

        <div class="cards-item card">
            <img src="{% static 'images/shoes_image.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <hr>
                <span id="card-bottom">
                    <div class="btn-group">
                        <a href="#" class="btn btn-success">Satın Al</a>
                        <a href="#" class="btn btn-outline-secondary">İncele</a>
                    </div>
                    <h4>200 TL</h4>
                </span>
            </div>
        </div>

        <div class="cards-item card">
            <img src="{% static 'images/source_code_image.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <hr>
                <span id="card-bottom">
                    <div class="btn-group">
                        <a href="#" class="btn btn-success">Satın Al</a>
                        <a href="#" class="btn btn-outline-secondary">İncele</a>
                    </div>
                    <h4>200 TL</h4>
                </span>
            </div>
        </div>

        <div class="cards-item card">
            <img src="{% static 'images/thirt_image.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <hr>
                <span id="card-bottom">
                    <div class="btn-group">
                        <a href="#" class="btn btn-success">Satın Al</a>
                        <a href="#" class="btn btn-outline-secondary">İncele</a>
                    </div>
                    <h4>200 TL</h4>
                </span>
            </div>
        </div>

        <div class="cards-item card">
            <img src="{% static 'images/watch_image.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <hr>
                <span id="card-bottom">
                    <div class="btn-group">
                        <a href="#" class="btn btn-success">Satın Al</a>
                        <a href="#" class="btn btn-outline-secondary">İncele</a>
                    </div>
                    <h4>200 TL</h4>
                </span>
            </div>
        </div>
         -->
    </div>
</div>
{% endblock %}