{% extends 'store/main.html' %}
{% load static %}

{% block content %}

<!-- Product View -->
<div class="container-md" id="view-container">
    <!-- Product section-->
    <section class="py-5" id="view-section">
        <div class="container-md px-4 px-lg-5 my-5" style="background-color: #fdfdfd;">
            <div class="row gx-4 gx-lg-5 align-items-center" id="view-items-container">

                <div class="col-md-6" id="view-image">
                    <!-- carousel -->
                    <div id="carouselExampleIndicators" class="carousel slide">
                        <div class="carousel-indicators">
                            <button type="button" style="background-color: gray;"
                                data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                                aria-current="true" aria-label="Slide 1"></button>
                            {% for i in iterator %}
                            <button type="button" style="background-color: gray;"
                                data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{i}}"
                                aria-label="Slide {{i}}"></button>
                            {% endfor %}
                        </div>

                        <!-- Fix Here; Burayı Düzelt la -->
                        <!-- Düzelttim -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{{ activeImage.image.url }}" class=" d-block w-100" alt="...">
                            </div>

                            {% for image in productImages %}
                            <div class="carousel-item">
                                <img src="{{ image.image.url }}" class=" d-block w-100" alt="...">
                            </div>
                            {% endfor %}
                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" style="background-color: gray; border-radius: 35%;"
                                aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" style="background-color: gray; border-radius: 35%;"
                                aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <!-- <img class="card-img-top mb-5 mb-md-0" src="images/book_image.jpg"
                            alt="..." /> -->
                </div>


                <div class="col-md-6">
                    <h1 class="display-5 fw-bolder" style="margin-top: 0.4em;">{{ product.name }}</h1>
                    <div class="small mb-1">{{ product.brand }}</div>
                    <div class="fs-5 mb-5" style="margin-bottom: 0.8em !important;">
                        <span><strong style="font-weight: 600;">{{ product.price|floatformat:2 }} TL</strong></span>
                    </div>
                    <p class="lead" id="view-description">
                        {{ product.productDetail.description }}
                    </p>
                    <div class="d-flex">
                        <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1"
                            style="max-width: 3rem" />

                        <!-- ToDo : Add Functionality -->
                        <button data-product="{{ product.id }}" data-action="add" class="btn btn-success flex-shrink-0 no-curved update-cart" type="button">
                            <i class="bi-cart-fill me-1"></i>
                            Satın Al
                        </button>
                    </div>
                </div>

                <hr class="my-4" style="width: 95%; margin: auto;">

                <div id="view-details">
                    <div class="view-left-details">
                        <!-- Teknik Özellikler -->
                        <div class="technical-details">

                            <!-- Teknik Özellikler Header -->
                            <div class="row row-header">
                                <div class="col">Teknik Özellikler</div>
                            </div>

                            <!-- Teknik Özellikler Content -->
                            <div class="row row-content">
                                <div class="col">
                                    Pil Kimyası
                                </div>
                                <div class="col">
                                    {{ product.productDetail.batteryType }}
                                </div>
                            </div>

                            <div class="row row-content">
                                <div class="col">
                                    Pil Hücre Sayısı
                                </div>
                                <div class="col">
                                    {{ product.productDetail.batteryCellCount }}
                                </div>
                            </div>

                            <div class="row row-content">
                                <div class="col">
                                    Güvenlik
                                </div>
                                <div class="col">
                                    {{ product.productDetail.security }}
                                </div>
                            </div>

                        </div>


                        <!-- Ram Özellikleri -->
                        <div class="technical-details">

                            <!-- Ram Özellikleri Header -->
                            <div class="row row-header">
                                <div class="col">Ram Özellikleri</div>
                            </div>

                            <!-- Ram Özellikleri Content -->
                            <div class="row row-content">
                                <div class="col">
                                    Ram (Sistem Belleği)
                                </div>
                                <div class="col">
                                    {{ product.productDetail.ram }}
                                </div>
                            </div>

                            <div class="row row-content">
                                <div class="col">
                                    Ram Tipi
                                </div>
                                <div class="col">
                                    {{ product.productDetail.ramType }}
                                </div>
                            </div>
                        </div>


                        <!-- Ekran kartı -->
                        <div class="technical-details">

                            <!-- Ekran kartı Header -->
                            <div class="row row-header">
                                <div class="col">Ekran kartı</div>
                            </div>

                            <!-- Ekran kartı Content -->
                            <div class="row row-content">
                                <div class="col">
                                    Ekran Kartı Chipset Marka
                                </div>
                                <div class="col">
                                    {{ product.productDetail.graphicsCardChipsetBrand }}
                                </div>
                            </div>

                            <div class="row row-content">
                                <div class="col">
                                    Ekran Kartı Chipseti
                                </div>
                                <div class="col">
                                    {{ product.productDetail.graphicsCardChipset }}
                                </div>
                            </div>
                            <div class="row row-content">
                                <div class="col">
                                    Ekran Kartı Bellek Tipi
                                </div>
                                <div class="col">
                                    {{ product.productDetail.graphicsCardMemoryType }}
                                </div>
                            </div>

                            <div class="row row-content">
                                <div class="col">
                                    Ekran Kartı Hafızası
                                </div>
                                <div class="col">
                                    {{ product.productDetail.graphicsCardMemory }}
                                </div>
                            </div>

                            <div class="row row-content">
                                <div class="col">
                                    Ekran Kartı Tipi
                                </div>
                                <div class="col">
                                    {{ product.productDetail.graphicsCardType }}
                                </div>
                            </div>
                        </div>


                        <!-- HDD Özellikleri -->
                        <div class="technical-details">

                            <!-- HDD Özellikleri Header -->
                            <div class="row row-header">
                                <div class="col">HDD Özellikleri</div>
                            </div>

                            <!-- HDD Özellikleri Content -->
                            <div class="row row-content">
                                <div class="col">
                                    Disk Kapasitesi
                                </div>
                                <div class="col">
                                    {{ product.productDetail.diskCapacity }}
                                </div>
                            </div>

                            <div class="row row-content">
                                <div class="col">
                                    Disk Türü
                                </div>
                                <div class="col">
                                    {{ product.productDetail.diskType }}
                                </div>
                            </div>
                        </div>


                        <!-- Güç -->
                        <div class="technical-details">

                            <!-- Güç Header -->
                            <div class="row row-header">
                                <div class="col">Güç</div>
                            </div>

                            <!-- Güç Content -->
                            <div class="row row-content">
                                <div class="col">
                                    Pil Ömrü
                                </div>
                                <div class="col">
                                    {{ product.productDetail.power }}
                                </div>
                            </div>
                        </div>


                        <!-- Multimedya -->
                        <div class="technical-details">

                            <!-- Multimedya Header -->
                            <div class="row row-header">
                                <div class="col">Multimedya</div>
                            </div>

                            <!-- Multimedya Content -->
                            <div class="row row-content">
                                <div class="col">
                                    Kulaklık Çıkışı
                                </div>
                                <div class="col">
                                    {{ product.productDetail.multimediaHeadphoneOutput }}
                                </div>
                            </div>

                            <div class="row row-content">
                                <div class="col">
                                    Multimedya Özellikler
                                </div>
                                <div class="col">
                                    {{ product.productDetail.multimediaFeatures }}
                                </div>
                            </div>

                            <div class="row row-content">
                                <div class="col">
                                    Kamera
                                </div>
                                <div class="col">
                                    {{ product.productDetail.multimediaCamera }}
                                </div>
                            </div>

                            <div class="row row-content">
                                <div class="col">
                                    Parmak İzi Okuyucu
                                </div>
                                <div class="col">
                                    {{ product.productDetail.multimediaFingerprintReader }}
                                </div>
                            </div>
                        </div>


                        <!-- Klavye -->
                        <div class="technical-details">

                            <!-- Klavye Header -->
                            <div class="row row-header">
                                <div class="col">Klavye</div>
                            </div>

                            <!-- Klavye Content -->
                            <div class="row row-content">
                                <div class="col">
                                    Klavye Düzeni
                                </div>
                                <div class="col">
                                    {{ product.productDetail.keyboard }}
                                </div>
                            </div>
                        </div>


                        <!-- Monitör -->
                        <div class="technical-details">

                            <!-- Monitör Header -->
                            <div class="row row-header">
                                <div class="col">Monitör</div>
                            </div>

                            <!-- Monitör Content -->
                            <div class="row row-content">
                                <div class="col">
                                    Monitör Tipi
                                </div>
                                <div class="col">
                                    {{ product.productDetail.monitor }}
                                </div>
                            </div>
                        </div>


                        <!-- İşletim Sistemi -->
                        <div class="technical-details">

                            <!-- İşletim Sistemi Header -->
                            <div class="row row-header">
                                <div class="col">İşletim Sistemi</div>
                            </div>

                            <!-- İşletim Sistemi Content -->
                            <div class="row row-content">
                                <div class="col">
                                    İşletim Sistemi
                                </div>
                                <div class="col">
                                    {{ product.productDetail.operatingSystem }}
                                </div>
                            </div>
                        </div>


                        <!-- Genel Özellikler -->
                        <div class="technical-details">

                            <!-- Genel Özellikler Header -->
                            <div class="row row-header">
                                <div class="col">Genel Özellikler</div>
                            </div>

                            <!-- Genel Özellikler Content -->
                            <div class="row row-content">
                                <div class="col">
                                    Renk
                                </div>
                                <div class="col">
                                    {{ product.productDetail.color }}
                                </div>
                            </div>

                            <div class="row row-content">
                                <div class="col">
                                    Hızlı Şarj
                                </div>
                                <div class="col">
                                    {{ product.productDetail.fastCharging }}
                                </div>
                            </div>

                            <div class="row row-content">
                                <div class="col">
                                    Menşei
                                </div>
                                <div class="col">
                                    {{ product.productDetail.origin }}
                                </div>
                            </div>

                            <div class="row row-content">
                                <div class="col">
                                    Garanti
                                </div>
                                <div class="col">
                                    {{ product.productDetail.guarantee }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="view-right-details">

                        <!-- İşlemci Tipi -->
                        <div class="technical-details">

                            <!-- İşlemci Tipi Header -->
                            <div class="row row-header">
                                <div class="col">İşlemci Tipi</div>
                            </div>

                            <!-- İşlemci Tipi Content -->
                            <div class="row row-content">
                                <div class="col">
                                    İşlemci Markası
                                </div>
                                <div class="col">
                                    {{ product.productDetail.processorType }}
                                </div>
                            </div>

                            <div class="row row-content">
                                <div class="col">
                                    İşlemci Nesli
                                </div>
                                <div class="col">
                                    {{ product.productDetail.processorGen }}
                                </div>
                            </div>

                            <div class="row row-content">
                                <div class="col">
                                    İşlemci Teknolojisi
                                </div>
                                <div class="col">
                                    {{ product.productDetail.processorTech }}
                                </div>
                            </div>

                            <div class="row row-content">
                                <div class="col">
                                    İşlemci Numarası
                                </div>
                                <div class="col">
                                    {{ product.productDetail.processorNum }}
                                </div>
                            </div>

                            <div class="row row-content">
                                <div class="col">
                                    İşlemci Hızı
                                </div>
                                <div class="col">
                                    {{ product.productDetail.processorSpeed }}
                                </div>
                            </div>

                            <div class="row row-content">
                                <div class="col">
                                    İşlemci Ön Bellek
                                </div>
                                <div class="col">
                                    {{ product.productDetail.processorCache }}
                                </div>
                            </div>

                            <div class="row row-content">
                                <div class="col">
                                    İşlemci Çekirdek Sayısı
                                </div>
                                <div class="col">
                                    {{ product.productDetail.processorCore }}
                                </div>
                            </div>

                        </div>


                        <!-- Bağlantı Özellikleri + Portlar -->
                        <div class="technical-details">

                            <!-- Ekran Özellikleri Header -->
                            <div class="row row-header">
                                <div class="col">Ekran Özellikleri</div>
                            </div>

                            <!-- Ekran Özellikleri Content -->
                            <div class="row row-content">
                                <div class="col">
                                    Ekran Boyutu
                                </div>
                                <div class="col">
                                    {{ product.productDetail.screenSize }}
                                </div>
                            </div>

                            <div class="row row-content">
                                <div class="col">
                                    Ekran Yenileme Hızı
                                </div>
                                <div class="col">
                                    {{ product.productDetail.screenrRefreshRate }}
                                </div>
                            </div>

                            <div class="row row-content">
                                <div class="col">
                                    Ekran Özellikleri
                                </div>
                                <div class="col">
                                    {{ product.productDetail.screenFeatures }}
                                </div>
                            </div>

                            <div class="row row-content">
                                <div class="col">
                                    Çözünürlük (Piksel)
                                </div>
                                <div class="col">
                                    {{ product.productDetail.screenResolution }}
                                </div>
                            </div>

                            <div class="row row-content">
                                <div class="col">
                                    IPS
                                </div>
                                <div class="col">
                                    {{ product.productDetail.screenIPS }}
                                </div>
                            </div>

                            <div class="row row-content">
                                <div class="col">
                                    Full HD
                                </div>
                                <div class="col">
                                    {{ product.productDetail.screenFullHD }}
                                </div>
                            </div>

                            <div class="row row-content">
                                <div class="col">
                                    HD
                                </div>
                                <div class="col">
                                    {{ product.productDetail.screenHD }}
                                </div>
                            </div>

                            <div class="row row-content">
                                <div class="col">
                                    TN
                                </div>
                                <div class="col">
                                    {{ product.productDetail.screenTN }}
                                </div>
                            </div>

                            <div class="row row-content">
                                <div class="col">
                                    Dokunmatik Ekran
                                </div>
                                <div class="col">
                                    {{ product.productDetail.screenTouch }}
                                </div>
                            </div>

                        </div>


                        <!-- Bağlantı Özellikleri + Portlar -->
                        <div class="technical-details">

                            <!-- Bağlantı Özellikleri + Portlar Header -->
                            <div class="row row-header">
                                <div class="col">Bağlantı Özellikleri + Portlar</div>
                            </div>

                            <!-- Bağlantı Özellikleri + Portlar Content -->
                            <div class="row row-content">
                                <div class="col">
                                    Bağlantı Özellikleri (USB 2.0)
                                </div>
                                <div class="col">
                                    {{ product.productDetail.connectionSpecificationUSB20 }}
                                </div>
                            </div>

                            <div class="row row-content">
                                <div class="col">
                                    Bağlantı Özellikleri (USB 3.2 (Gen 1))
                                </div>
                                <div class="col">
                                    {{ product.productDetail.connectionSpecificationUSB32 }}
                                </div>
                            </div>

                            <div class="row row-content">
                                <div class="col">
                                    Bağlantı Özellikleri (USB TYPE-C)
                                </div>
                                <div class="col">
                                    {{ product.productDetail.connectionSpecificationUSBTypeC }}
                                </div>
                            </div>

                            <div class="row row-content">
                                <div class="col">
                                    Bluetooth Teknolojisi
                                </div>
                                <div class="col">
                                    {{ product.productDetail.connectionSpecificationBluetoothTech }}
                                </div>
                            </div>

                            <div class="row row-content">
                                <div class="col">
                                    Ethernet
                                </div>
                                <div class="col">
                                    {{ product.productDetail.connectionSpecificationEtherner }}
                                </div>
                            </div>

                            <div class="row row-content">
                                <div class="col">
                                    Wi-Fi
                                </div>
                                <div class="col">
                                    {{ product.productDetail.connectionSpecificationWiFi }}
                                </div>
                            </div>

                            <div class="row row-content">
                                <div class="col">
                                    HDMI
                                </div>
                                <div class="col">
                                    {{ product.productDetail.connectionSpecificationHDMI }}
                                </div>
                            </div>

                            <div class="row row-content">
                                <div class="col">
                                    Kart Yuvası
                                </div>
                                <div class="col">
                                    {{ product.productDetail.connectionSpecificationCardSlot }}
                                </div>
                            </div>

                            <div class="row row-content">
                                <div class="col">
                                    Bluetooth
                                </div>
                                <div class="col">
                                    {{ product.productDetail.connectionSpecificationBluetooth }}
                                </div>
                            </div>

                        </div>


                        <!-- Diğer -->
                        <div class="technical-details">

                            <!-- Diğer Header -->
                            <div class="row row-header">
                                <div class="col">Diğer</div>
                            </div>

                            <!-- Diğer Content -->
                            <div class="row row-content">
                                <div class="col">
                                    Aydınlatmalı Klavye
                                </div>
                                <div class="col">
                                    {{ product.productDetail.illuminatedKeyboard }}
                                </div>
                            </div>

                            <div class="row row-content">
                                <div class="col">
                                    Kullanım Amacı
                                </div>
                                <div class="col">
                                    {{ product.productDetail.intendedUse1 }}
                                </div>
                            </div>

                            <div class="row row-content">
                                <div class="col">
                                    Kullanım Amacı
                                </div>
                                <div class="col">
                                    {{ product.productDetail.intendedUse2 }}
                                </div>
                            </div>

                            <div class="row row-content">
                                <div class="col">
                                    Üretici Part Numarası
                                </div>
                                <div class="col">
                                    {{ product.productDetail.manufacturerPartNumber }}
                                </div>
                            </div>
                        </div>


                        <!-- Ağırlık & boyutlar -->
                        <div class="technical-details">

                            <!-- Ağırlık & boyutlar Header -->
                            <div class="row row-header">
                                <div class="col">Ağırlık & boyutlar</div>
                            </div>

                            <!-- Ağırlık & boyutlar Content -->
                            <div class="row row-content">
                                <div class="col">
                                    Cihaz Ağırlığı
                                </div>
                                <div class="col">
                                    {{ product.productDetail.weight }}
                                </div>
                            </div>

                            <div class="row row-content">
                                <div class="col">
                                    Yükseklik
                                </div>
                                <div class="col">
                                    {{ product.productDetail.height }}
                                </div>
                            </div>

                            <div class="row row-content">
                                <div class="col">
                                    Genişlik
                                </div>
                                <div class="col">
                                    {{ product.productDetail.width }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}